/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 Jun, 2024, 9:42:39 AM
    Author     : vivek
*/
body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
}

header h1 {
  margin: 0;
}

nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: #000;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin-left: 10px;
}

.search-form {
  display: flex;
  align-items: center;
  margin-left: auto;
}

#search-box {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.search-form button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.medicine-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;
}

.medicine {
  width: calc(33.33% - 20px); /* Adjusted for 3 columns with margin */
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.medicine img {
  width: 100%;
  height: auto;
  max-