/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 Jul, 2024, 2:43:43 PM
    Author     : vivek
*/
body {
  font-family: sans-serif;
  margin: 0;
  background-image: url("th_1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color:black;
}

header h1{
  margin: 0;
  color:white;
}

nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color:white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin-left: 10px;
}

main {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
 
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
}

label {
  display: block;
  width: 120px;
  margin-bottom: 5px;
  text-align: right;
}

input[type="text"],
input[type="password"],
input[type="tel"],
select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #222;
}
